body{
    background-color: #778586;
    /* apollo blue #778586  tapestry gold #af8843 #   grey background #778586*/
    color: black;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 140%;
    transition-duration: 1000ms;
       
}
.targaryen-colors{
    background-color: black;
    color: red;
}

h1{
    font-style: italic;
}

.table{
    border-collapse: collapse;
    width: 60%;
    
    
}
thead{
    border: 5px solid #af8843;
    background-color: #deb06c;
    color: #494953;
}

th, td{
    padding: 10px;
    text-align: left;
}

.evenRow{
    border: 5px solid #af8843;
    background-color: #efdabd;
    color: #494953;
    text-align: left;
}

.oddRow{
    border: 5px solid #af8843;
    background-color: #debc89;
    color: #494953;   
}

.menu_buttons{
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;

}

.fancyButton{
    background-color: #af8843;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: black;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    width: 100%;
    height: 100%;
    
}

.fancyButton:hover{
    background-color: #e4a432;
    color: black;
    transition-duration: 200ms;

}

.editButton{
    background-color: #778586;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    transition-duration: 300ms;
}
.editButton:hover{
    background-color: #434c4d;
    transition-duration: 300ms;
}

.deleteButton{
    background-color: #FF0000;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    transition-duration: 300ms;
}
.deleteButton:hover{
    background-color: #c20000;
    transition-duration: 300ms;
}

#createHouseForm{
    background-color: #af8843;
    width:60%;
    padding-bottom: 2%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createHouseForm>button{
    font-size: 100%;
    margin: 3%;
    padding: 1%;
    width: 40%; 
    border: none;
    background-color: #debc89;
    transition-duration: 200ms;
    cursor: pointer;
    border-radius: 20px;
    
}
#createHouseForm>button:hover{
    background-color: #efdabd;
    transition-duration: 200ms;
}


#name-region>input{
    font-size: 100%;
    background-color: #efdabd;
    border: none;
    width: 25%;
    padding: 1%;
    accent-color: #e4a432;
    
}
#name-region>select{
    font-size: 90%;
    background-color: #efdabd;
    border: none;
    margin-bottom: 5%;
    width: 30%;
    padding: 1%;        
}

#name-region>label{
    width:25%;
    margin: 2%;
}

#seat-label-box{
    display: inline-flex;
}

#seat-label-boxbox{
    width: 50%;
    display: inline-flex;
}
#seat-label-box>label{
    width:25%;
    margin: 2%;
    
}
#seat-label-box>input{
    font-size: 100%;
    background-color: #efdabd;
    border: none;
    width: 100%;
    padding: 1%;
    accent-color: #e4a432;
}

